---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout 
  title="About - Anthony Gonzales"
  description="About Anthony Gonzales, a Product Engineer based in New York, NY specializing in web technologies."
  pageClass="about page"
>
  <main class="container max-width page">
    <h1>About</h1>
    
    <p>I'm a <a href="https://leerob.com/n/product-engineers" target="_blank">Product
    Engineer</a> based in New York, NY.</p>

    <p>I specialize in web technologies like Typescript, Node.js, React, and Postgres.
    I'm also an expert in Test Driven Development methodologies.</p>

    <p>You can email me at hello[at]anthonygonzales.dev.</p>

    <h2>Experience</h2>

    <table class="about-experience">
      <tbody>
        <tr>
          <td>Compass</td>
          <td>Senior Software Engineer II</td>
          <td>2020 - Present</td>
        </tr>
        <tr>
          <td>Compass</td>
          <td>Senior Software Engineer I</td>
          <td>2019 - 2020</td>
        </tr>
        <tr>
          <td>Compass</td>
          <td>Software Engineer II</td>
          <td>2017 - 2019</td>
        </tr>
        <tr>
          <td>Glossier</td>
          <td>Senior Front-end Engineer</td>
          <td>2016 - 2017</td>
        </tr>
      </tbody>
    </table>
  </main>
</BaseLayout>