---
import '../styles/main.scss';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  pageTitle?: string;
  frontmatter?: any;
}

const { pageTitle, frontmatter } = Astro.props;
const title = pageTitle || frontmatter?.title;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content={Astro.generator} />
    <title>{ title != null ? `${title} | Anthony Gonzales` : 'Anthony Gonzales'}</title>
    <meta name="description" content={frontmatter?.description != null ? `${frontmatter.description}` : ''}>
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:image:alt" content="">

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="icon.png">

    <link rel="manifest" href="site.webmanifest">
    <meta name="theme-color" content="#fafafa">
    <link rel="alternate" type="application/rss+xml" title="Blog | Anthony Gonzales" href={new URL("feed.xml", Astro.site)} />
  </head>

  <body itemscope itemtype="http://schema.org/WebPage" class="grid">
    <Header />
    
    <main>
      <slot/>
    </main>
    
    <Footer />
  </body>

</html>
